body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    background-color: #121214;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 3vw;
    width: 700px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.adicionarPerfil {
    height: 100px;
}

.userImagem {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 160px;
    background-color: #1E1E20;
    border-radius: 5%;
    overflow: hidden;
    border: 2px solid transparent;
}

img {
    transition: 0.5s;
}

.userImagem:hover img {
    transform: scale(1.2);
    transition: 0.5s;
}

.userImagem:hover{
    border: 2px solid white;
}

button {
    background-color: #121214;
    color: white;
    border: 2px solid gray;
    padding: 7px 20px 7px 20px;
    transition: 0.3s;
    border-radius: 5%;
    margin-block: 5vw;
}

button:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}